.calculator{
    width: 20%;
    height: 65vh;
    background-color: gray;
    margin: 0 auto;
    border-radius: 20px;
}
.display{
    padding: 15px;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
}
.row{
        padding: 10px;
        position: relative;
        left: 10px;
        top: 10px;
        
}
button{
    padding: 20px; 
    border-radius: 12px; 
    border: 1px solid gray;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
}
.operator{
    background-color: rgb(247, 39, 39);
    color: white;
    font-weight: bold;
    font-size: 15px;
}